@import "header.scss";
@import "nav.scss";
@import "variables.scss";
@import "index.scss";
@import "nosotros.scss";
@import "nosotros.css";
@import "productos.scss";
@import "servicios.scss";
@import "contacto.scss";
@import "footer.scss";
html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
}